{
  "extends": [
    "oclif",
      "oclif-typescript",
      "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "new-cap": "off",
    "no-eq-null": "off",
    "valid-jsdoc": "off",
    // Conflicts with TypeScript shortcuts
    "no-useless-constructor": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    // TypeScript specific rules
    "@typescript-eslint/no-use-before-define": "off"
  }
}
