{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "new-cap": "off",
    "valid-jsdoc": "off",
    // Conflicts with TypeScript
    "no-useless-constructor": "off",
    "unicorn/no-abusive-eslint-disable": "off"
  }
}
