{
  "extends": [
    "oclif",
      "oclif-typescript",
      "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "new-cap": "off",
    "valid-jsdoc": "off",
    // Conflicts with TypeScript shortcuts
    "no-useless-constructor": "off",
    "unicorn/no-abusive-eslint-disable": "off"
  }
}
